.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  max-height: 500px;
  gap: 20px;
}
.photo {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 2px;
}

.info div:nth-child(1) {
  font-weight: bold;
}

.cat-photo {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.button-container {
  flex: 2;
}

.follow-button {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(95, 201, 250);
  color: white;
  font-weight: bold;
  font-size: 15px;
}
