.main {
  width: 300px;
}

.clothe {
  position: relative;
  box-shadow: 2px 3px 6px 2px rgb(219, 217, 217);
}

.clothe:hover > .add-basket {
 visibility: visible;
}

.discount { 
  position: absolute;
  top: 20px;
  right: 0;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 1px;
}

.picture {
  width: 100%;
  object-fit: scale-down;
  padding-top: 5px;
}

.add-basket{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    height: 100px;
    background: rgba(249, 249, 250, 0.671);
}

.add-button {
  font-family: Arial;
  font-weight: 500;
  position: absolute;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
